<template>
    <div>
        <h1>Lista de productos</h1>
        <h3>Elige la cantidad que deseas comprar</h3>
    
    <div>
        <ul class="list-group">
            <li v-for="(item,index) of arrayOrdenado" :key="item.id" @click="aumentar(index)" 
            class="list-group-item d-flex justify-content-between align-items-center">
                {{index+1}}.- {{item.nombre}} : 
                <span class="badge bg-primary rounded-pill">{{item.cantidad}}</span>
            </li>
        </ul>
        <button class="btn btn-danger btn-block" @click="reiniciar">Reiniciar</button>
    </div>



    <div id="app" class="container">  
      
      <Productos></Productos>
    </div>
    
    </div>


</template>


<script>
import Productos from './views/Productos.vue'

export default {
  name: 'App',
  components: {
    Productos
  }
}
</script>



<script>
    import {mapState,mapMutations} from 'vuex';

    export default {
        name: 'Lista',
        computed: {
            ...mapState(['libros']),
            arrayOrdenado(){
                return this.libros.sort( (a,b) => b.cantidad - a.cantidad )
            }
        },
        methods: {
            ...mapMutations(['aumentar','reiniciar'])
        }
    }

</script>





