<template>
    <div>
        <h2>Misión</h2>
        <p>Satisfacer íntegramente las necesidades de nuestros clientes, ofreciendo el mayor surtido de libros de texto, 
            lectura e innovación digital.  Satisfaciendo las necesidades de la comunidad educativa con una amplia gama de 
            editoriales para garantizar el aprendizaje y fomentar el amor a la lectura en el público en general.</p>
        <hr>
        <h2>Vision</h2>
         <p>Ser la librería líder en el Sur occidente de Guatemala en la venta y distribución de libros de textos, libros de 
             lectura en general, plataformas digitales, tanto de editoriales nacionales como extranjeras, reconocida por la 
             calidad de nuestro servicio y la contribución a la comunidad educativa.</p>
        
    </div>
</template>